.content {
  position: relative;
}

.traffic-map {
  height: 100%;
  width: 100%;
}

.topbar {
  border: 1px solid #aaa;
  background-color: #fff;
  position: fixed;
  left: 50px;
  top: 10px;
  width: 300px;
  height: 80px;
  padding: 10px;
}

.topbar h4 {
  margin-top: 0;
}

.previous-hour {
  margin-right: 10px;
}

.next-hour {
  margin-left: 10px;
}

.color-info {
  background-color: #fff;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 125px;
  left: 50px;
  border: 1px solid #aaa;
}

.color-info-row {
  padding: 10px;
}

.color-info-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
}

.color-info-text {
  display: inline-block;
  font-size: 10px;
  padding-left: 10px;
}
